# ==========================
# 1. Project Specific Data & Model
# ==========================
chroma_db/
/runs/
*.cache

# 模型权重
/SAR_Dataset/yolo26n.pt
/SAR_Dataset/yolov8n.pt
/SAR_Dataset/runs/
/SAR_Dataset/images/train/*
!/SAR_Dataset/images/train/.gitkeep
/SAR_Dataset/images/val/*
!/SAR_Dataset/images/val/.gitkeep
/SAR_Dataset/labels/train/*
!/SAR_Dataset/labels/train/.gitkeep
/SAR_Dataset/labels/val/*
!/SAR_Dataset/labels/val/.gitkeep
/SAR_Dataset/labels/*.cache

# ==========================
# 2. Empty Folders (Keep structure, ignore contents)
# ==========================
/assets/mat/*
!/assets/mat/.gitkeep
/assets/png/*
!/assets/png/.gitkeep

/knowledge/*
!/knowledge/.gitkeep

/out/csv/*
!/out/csv/.gitkeep

/yolo_data/*
!/yolo_data/.gitkeep

# ==========================
# 3. Executables
# ==========================
# 忽略所有 exe，但保留 X-AnyLabeling
*.exe
!X-AnyLabeling-v4.0.0-beta.2-CPU.exe


# ==========================
# 4. Python Cache & Dependencies
# ==========================
# 全局忽略 Python 缓存（涵盖了资源目录、src等的 __pycache__）
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# 虚拟环境与打包文件
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# ==========================
# 5. OS, IDE & Environments
# ==========================
.env
.env.local
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
Thumbs.db

# ==========================
# 6. Logs & Temp
# ==========================
*.log
replace.txt
